* {
  box-sizing: border-box;
}
nav {
  background-color: #21222a;
  align-items: center;
  display: flex;
  padding: 30px 25px;
  height: 90px;
}

nav > h1,
nav > h3 {
  margin: 0;
}

nav > h1 {
  color: #61dafb;
  margin-right: auto;
}

nav > h3 {
  color: #deebf8;
}
