.properties {
  padding: 67px 0px;
}

.properties-container {
  max-height: 70vh;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
}

.properties-container::-webkit-scrollbar {
  display: none;
}

.properties-item {
  background-color: rgb(248, 248, 248);
  float: left;
  color: rgb(72, 21, 92);
  text-align: center;
  padding: 0px 20px;
  margin: 4px;
  border-radius: 14px;
  width: 23%;
  max-width: 220px;
}

.properties-info {
  align-items: center;
  display: flex;
}

.properties-info-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: auto;
}

.properties-info-details {
  margin-left: 15px;
}

.properties-info-username {
  font-size: 18px;
  margin-bottom: 5px;
}

.activity {
  font-size: 14px;
  font-weight: bold;
  margin-top: 0px;
}

.active {
  color: rgb(42, 179, 42);
}

.offline {
  color: rgb(197, 197, 197);
}

.search-users-bar {
  display: flex;
  margin-top: 3%;
}

.search-users-bar input {
  width: 90%;
  height: 40px;
  background-color: transparent;
  border: none;
  border-bottom: solid #ae8cfa 2px;
  outline: none;
  border-radius: 14px;
}

.search-users-bar input[type="text"] {
  background-color: transparent;
  font-size: 24px;
  color: white;
}

.search-users-bar input:focus {
  box-shadow: 0 32px 62px -2px rgba(153, 94, 209, 0.75);
}

.search-users-btn {
  height: 40px;
  font-size: 24px;
  cursor: pointer;
  color: #ae8cfa;
}
