.settings {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  padding: 30px 10%;
  height: 100vh;
}

.hr-line {
  border: solid 1px #ebebeb73;
}

.settings-title {
  width: 100%;
}

.settings-container {
  width: 100%;
}

.row {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
}

.input-field {
  width: 40%;
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
}

.input-field p {
  font-size: 12px;
  color: black;
  font-weight: bold;
  margin-right: auto;
}

.input-field span {
  color: #aeb0af;
  margin: auto 0px;
  font-weight: bold;
  font-size: 12px;
}

.input-field input {
  width: 100%;
  height: 30px;
  border: solid 1px #d9dbda;
  border-radius: 5px;
  padding: 5px 10px;
  outline: none;
}

.input-field input:focus {
  border: #0479fff3 solid 2px;
}

.third-row {
  margin: 0% auto;
}
.third-row > h4 {
  font-weight: bold;
  margin-bottom: 0%;
}

.third-row > p {
  font-size: 13px;
  margin-top: 4px;
  color: #aeb0af;
}

.google-account {
  display: flex;
}

.google-account > p {
  margin-right: auto;
  font-size: 13px;
  color: #aeb0af;
}
.google-icon {
  font-size: 30px;
  margin-bottom: -10px;
  margin-right: 7px;
}
.connect-btn {
  color: rgb(0, 119, 255);
  font-weight: bold;
  height: 30px;
  padding: 0px 15px;
  background-color: rgba(255, 255, 255, 0);
  border: solid 1px rgb(212, 212, 212);
  border-radius: 5px;
  cursor: pointer;
  margin: auto 0;
}

.fourth-row {
  display: flex;
}

.delete-account {
  margin-right: auto;
}

.delete-account > h4 {
  font-weight: bold;
  margin-bottom: 0%;
}

.delete-account > p {
  font-size: 13px;
  margin-top: 4px;
  color: #aeb0af;
}

.delete-btn {
  margin: auto 0%;
  color: #aeb0af;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
}

.delete-btn:hover {
  color: rgb(175, 32, 32);
}
